
.DS_Store
1. introduce app/1. introduce app.xcodeproj/project.pbxproj
1. introduce app/1. introduce app.xcodeproj/project.xcworkspace/contents.xcworkspacedata
1. introduce app/1. introduce app.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
1. introduce app/1. introduce app.xcodeproj/project.xcworkspace/xcuserdata/lee.xcuserdatad/UserInterfaceState.xcuserstate
1. introduce app/1. introduce app.xcodeproj/xcuserdata/lee.xcuserdatad/xcschemes/xcschememanagement.plist
1. introduce app/1. introduce app/Assets.xcassets/AccentColor.colorset/Contents.json
1. introduce app/1. introduce app/Assets.xcassets/AppIcon.appiconset/Contents.json
1. introduce app/1. introduce app/Assets.xcassets/Contents.json
1. introduce app/1. introduce app/Assets.xcassets/dog1.imageset/Contents.json
1. introduce app/1. introduce app/Assets.xcassets/dog2.imageset/Contents.json
1. introduce app/1. introduce app/Assets.xcassets/dog3.imageset/Contents.json
1. introduce app/1. introduce app/Assets.xcassets/dogProfile.imageset/Contents.json
1. introduce app/1. introduce app/Preview Content/Preview Assets.xcassets/Contents.json
1. Introduce app/test.txt
